footer {
    background-color: rgb(51, 49, 49);
    font-family: Barlow;
    color: white;
}

#footer {
    border-top: 10px solid black;
    background-color: rgb(51, 49, 49);
}

#foot {
    border-top: 2px solid black;
    background-color: rgb(51, 49, 49);
}