<footer>
<div  id="footer" class="container-fluid">
    <footer class="page-footer font-small teal pt-4">

        <!-- Footer Text -->
        <div class=" text-center text-md-left">
      
          <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">
      
              <!-- Content -->
              <h5 class="text-uppercase font-weight-bold">Medios de contacto</h5>
            
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid tempore error explicabo mollitia, perferendis perspiciatis eos tenetur voluptatibus doloremque aut. Ipsum numquam deleniti nihil, eius autem libero maiores consequuntur iste.</p>
             
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita sapiente sint, nulla, nihil
                repudiandae commodi voluptatibus corrupti animi sequi aliquid magnam debitis, maxime quam recusandae
                harum esse fugiat. Itaque, culpa?</p>
      
            </div>
            <!-- Grid column -->
      
            <hr class="clearfix w-100 d-md-none pb-3">
      
            <!-- Grid column -->
            <div class="col-md-6 mb-md-0 mb-3">
      
              <!-- Content -->
              <h5 class="text-uppercase font-weight-bold">Información adicional</h5>
              <p>Página creada con fines educativos, en el contexto de la segunda parte #YoProgramo, perteneciente al curso del proyecto de Argentina Programa. Realizado entre los meses de febrero y agosto de 2022. El contenido de este porfolio está abierto al uso libre, realizando replicaciones y reutilizaciones cuantas veces sean necesarias. </p>
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </div>
        <!-- Footer Text -->
      
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" id="foot">2022 - Gastón Cirvini 
        </div>
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->
</div>
</footer>