<footer>
<div  id="footer" class="container-fluid">
    <footer class="page-footer font-small teal pt-4">

        <!-- Footer Text -->
        <div class=" text-center text-md-left">
      
          <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">
      
              <!-- Content -->
              <h5 class="text-uppercase font-weight-bold">Contacto</h5>
            
                <p>La información de contacto se encuentra en el cabezal de ésta página. Para vínculos de tipo comercial y/o laboral enviar mail a josegastoncirvini@gmail.com</p>
             
              <p>Para poder visualizar los proyectos, tanto educativos como de programación, ingresar a la plataforma Facebook y a GitHub, respectivamente</p>
      
            </div>
            <!-- Grid column -->
      
            <hr class="clearfix w-100 d-md-none pb-3">
      
            <!-- Grid column -->
            <div class="col-md-6 mb-md-0 mb-3">
      
              <!-- Content -->
              <h5 class="text-uppercase font-weight-bold">Acerca del Portfolio</h5>
              <p>Página creada con fines educativos, en el contexto de la segunda parte #YoProgramo, perteneciente al curso del proyecto de Argentina Programa. Realizado entre los meses de febrero y agosto de 2022. El contenido de este porfolio está abierto al uso libre, realizando replicaciones y reutilizaciones cuantas veces sean necesarias. </p>
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </div>
        <!-- Footer Text -->
      
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" id="foot">2022 - Gastón Cirvini 
        </div>
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->
</div>
</footer>