<!----Imagen Fondo -->
<div id="imageen" class="container-fluid" style="background-color: rgb(51, 49, 49);">
</div>

<!-- Main Navar -->



<!----Cuerpo de la página - Contenido-->
<div id="cuerpo" class="col-ms-12 col-xs-12">
  <div id="primeraparte" class="container-fluid">
    <!----Hacer la imagen estática-->
    <br>
    <img class="img-thumbnail rounded-circle mb-4" src="assets/imgs/perfil.jpg" id="perfil" alt="">
    <br>
    <i id="id1" class="fa-solid fa-pencil"></i>

    <h1 id="tituloh1">{{cabezal}} - Full Stack Web Developer Junior </h1>
    <h2 id="presentacion">Presentación <i id="id0" class="fa-solid fa-pencil"></i></h2>
    <br>
    <br>
    <h3 id="nac">Nacimiento</h3>
    <p >10 de abril de 1990</p>
    <h3 id="residencia">Lugar de residencia</h3>
    <p > Mendoza, Argentina</p>
    <h3 id="edad">Edad:</h3>
    <p >31 años</p>
    <h3 id="estudios">Estudios</h3>
   
      <p>Profesor de Grado Universitario en Historia (UNCuyo. 2017)</p>
      <p>Magister en Enseñanza en Escenarios Digitales (AUSA. 2022)</p>
      <p>Full Stack Web Junior Developer (Argentina Progrma. 2022)</p>
    <h3 id="mail">E-mail</h3>
    <p > </p>
  </div>
    <div class="container-fluid">
      <h2 id="acerca">Acerca de... <i id="id2" class="fa-solid fa-pencil"></i></h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae provident earum eligendi architecto fugit
        commodi nesciunt ullam sapiente est, repellat quia aspernatur, quasi dolore tempora. Impedit itaque molestiae
        explicabo in!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae provident earum eligendi architecto fugit
        commodi nesciunt ullam sapiente est, repellat quia aspernatur, quasi dolore tempora. Impedit itaque molestiae
        explicabo in!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae provident earum eligendi architecto fugit
        commodi nesciunt ullam sapiente est, repellat quia aspernatur, quasi dolore tempora. Impedit itaque molestiae
        explicabo in!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae provident earum eligendi architecto fugit
        commodi nesciunt ullam sapiente est, repellat quia aspernatur, quasi dolore tempora. Impedit itaque molestiae
        explicabo in!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae provident earum eligendi architecto fugit
        commodi nesciunt ullam sapiente est, repellat quia aspernatur, quasi dolore tempora. Impedit itaque molestiae
        explicabo in!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae provident earum eligendi architecto fugit
        commodi nesciunt ullam sapiente est, repellat quia aspernatur, quasi dolore tempora. Impedit itaque molestiae
        explicabo in!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae provident earum eligendi architecto fugit
        commodi nesciunt ullam sapiente est, repellat quia aspernatur, quasi dolore tempora. Impedit itaque molestiae
        explicabo in!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae provident earum eligendi architecto fugit
        commodi nesciunt ullam sapiente est, repellat quia aspernatur, quasi dolore tempora. Impedit itaque molestiae
        explicabo in!
      </p>
    </div>

      <div class="container-fluid">
        <div class="row" style="text-align: center;">
          <div class="col md-3">
            <h4>Profesor de Grado Universitario en Historia (UNCuyo - 2017)</h4>
            <br>
            <div class="uncuyo"><img src="assets/imgs/uncuyo.png" alt=""></div>
          </div>
          <div class="col md-3">
            <h4>Magister en Enseñanza en Escenarios Digitales (AUSA - en Curso)</h4>
            <div class="uncuyo"><img src="assets/imgs/ausa.png" alt=""></div>
          </div>
          <div class="col md-3">
            <h4>Full Stack Developer Junior (Argentia Programa - 2022)</h4>
            <div class="ap"><img src="assets/imgs/AP.png" alt=""></div>
          </div>

          <div class="col md-3">
            <h4>Reparador de PC en Software & Hardware (CCT - 2009)</h4>
            <div class="ap"><img src="assets/imgs/cct.png" alt=""></div>
          </div>
      </div> <!---Quizá sacarlo-->

      <!----Experiencia y educación-->
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-6 col-ms-12">
            <h2 id="educacion">Educación <i id="id4" class="fa-solid fa-pencil"></i></h2>
            <p>Profesor de Grado Universitario en Historia desde 2017, recibido en la Facultad de Filosofía y Letras de
              la Universidad Nacional de Cuyo. Magister en Enseñanza en Escenarios Digitales desde 2022, recibido en la
              Asociación de Universidades Sur Andinas, sede en la Facultad de Educación de la Universidad Nacional de
              Cuyo. Técnico Reparador de PC desde 2010; trabajo autónomo. Full Stack Developer Jr. desde 2022. Músico
              baterista desde 2004.</p>
            <p>Especialización en gamificación como herramienta para generar transformaciones dentro de los procesos de
              enseñanza-aprendizaje. Participación en cátedra Historia Argentina Virreinal e Independiente (1776-1880),
              realizando investigaciones de las sociedades afrodescendientes en los espacios geográficos rioplatenses.
            </p>
            <p>Implementador de herramientas y estrategias de gamificación en escenarios formales. Utilización de
              videojuegos en los escenarios educativos formales</p>
          </div>
          <div class="col-md-6 col-ms-12">
            <h2 id="experiencia">Experiencia <i id="id3" class="fa-solid fa-pencil"></i></h2>
            <p>Equipo Argentino de Antropología Forense (EAAF) - Trabajos realiados en Cuadro 33 - Dos camapañas</p>
            <p>Reparador de PC - Software & Hardware (2010-2022) - Trabajos realizados en formato freelance</p>
            <p>Profesor de Ciencias Sociales en Escuela Don Bosco (2017-2019) - Trabajos de suplencia</p>
            <p>Programa Educativo Universitario en Contexto de Encierro (PEUCE) (2016-2020) - Trabajos realizados en el
              Penal de Bulogne Sur Mer y Penal de Almafuerte/Cacheuta</p>
            <p>Facultad de Filosofía y Letras Uncuyo - Participación como Profesor Adscripto a la cátedra Historia
              Argentina Virreinal e Independiente (2015-2019) </p>
            <p>Escuela Italiana XXI Abril (2019-2022) - Profesor encargado del departamento de Ciencias Sociales</p>


          </div>
        </div>
      </div>
      <br><br>
      <!----Fin de Educación y Experiencia-->
      
        <h2 id="hardand">Hard and Soft Skills <i id="id5" class="fa-solid fa-pencil"></i></h2>
      
      <br>
      <div class="container-fluid">
        <h2 style="font-family: Barlow;">Soft Skills</h2>
        <h3>Trabajo en Equipo</h3>
        <p>
          <ngb-progressbar class="progreso" [showValue]="true" type="success" [value]="100" [max]="100">
          </ngb-progressbar>
        </p>
        <h3>Comunicación</h3>
        <p>
          <ngb-progressbar class="progreso" [showValue]="true" type="info" [value]="90" [max]="100"></ngb-progressbar>
        </p>
        <h3>Creatividad</h3>
        <p>
          <ngb-progressbar class="progreso" [showValue]="true" type="warning" [value]="90" [max]="100">
          </ngb-progressbar>
        </p>
        <h3>Adaptación al cambio</h3>
        <p>
          <ngb-progressbar class="progreso" [showValue]="true" type="danger" [value]="90" [max]="100"></ngb-progressbar>
        </p>
      </div>

      <br><br>
      <div class="container-fluid">
        <h2 style="font-family: Barlow;">Hard Skills</h2>
        <h3>JavaScript - DOM</h3>
        <p>
          <ngb-progressbar class="progreso" [showValue]="true" type="success" [value]="40" [max]="100" [striped]="false"
            [animated]="true"></ngb-progressbar>
        </p>
        <h3>Angular - TypeScript</h3>
        <p>
          <ngb-progressbar class="progreso" [showValue]="true" type="info" [value]="50" [max]="100" [striped]="false"
            [animated]="true"></ngb-progressbar>
        </p>
        <h3>HTML</h3>
        <p>
          <ngb-progressbar class="progreso" [showValue]="true" type="warning" [value]="90" [max]="100" [striped]="false"
            [animated]="true"></ngb-progressbar>
        </p>
        <h3>CSS - SASS - Grid - Less</h3>
        <p>
          <ngb-progressbar class="progreso" [showValue]="true" type="danger" [value]="80" [max]="100" [striped]="false"
            [animated]="true"></ngb-progressbar>
        </p>
        <h3>Bootstrap</h3>
        <p>
          <ngb-progressbar class="progreso" [showValue]="true" type="primary" [value]="60" [max]="100" [striped]="false"
            [animated]="true"></ngb-progressbar>
        </p>
      </div>



      <div class="container-fluid">
        <h2 id="proyectos">Proyectos <i id="id6" class="fa-solid fa-pencil"></i></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat qui, reiciendis impedit, ad suscipit tenetur
          ea nulla quod ducimus animi ab nam necessitatibus provident laudantium vitae harum eligendi amet odit?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga voluptatum, corrupti, saepe aperiam eligendi
          facilis suscipit et illo deleniti illum ducimus. Nihil doloribus odit obcaecati dignissimos veritatis dolore
          rerum quod?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat qui, reiciendis impedit, ad suscipit tenetur
          ea nulla quod ducimus animi ab nam necessitatibus provident laudantium vitae harum eligendi amet odit?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga voluptatum, corrupti, saepe aperiam eligendi
          facilis suscipit et illo deleniti illum ducimus. Nihil doloribus odit obcaecati dignissimos veritatis dolore
          rerum quod?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat qui, reiciendis impedit, ad suscipit tenetur
          ea nulla quod ducimus animi ab nam necessitatibus provident laudantium vitae harum eligendi amet odit?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga voluptatum, corrupti, saepe aperiam eligendi
          facilis suscipit et illo deleniti illum ducimus. Nihil doloribus odit obcaecati dignissimos veritatis dolore
          rerum quod?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat qui, reiciendis impedit, ad suscipit tenetur
          ea nulla quod ducimus animi ab nam necessitatibus provident laudantium vitae harum eligendi amet odit?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga voluptatum, corrupti, saepe aperiam eligendi
          facilis suscipit et illo deleniti illum ducimus. Nihil doloribus odit obcaecati dignissimos veritatis dolore
          rerum quod?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat qui, reiciendis impedit, ad suscipit tenetur
          ea nulla quod ducimus animi ab nam necessitatibus provident laudantium vitae harum eligendi amet odit?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga voluptatum, corrupti, saepe aperiam eligendi
          facilis suscipit et illo deleniti illum ducimus. Nihil doloribus odit obcaecati dignissimos veritatis dolore
          rerum quod?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat qui, reiciendis impedit, ad suscipit tenetur
          ea nulla quod ducimus animi ab nam necessitatibus provident laudantium vitae harum eligendi amet odit?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga voluptatum, corrupti, saepe aperiam eligendi
          facilis suscipit et illo deleniti illum ducimus. Nihil doloribus odit obcaecati dignissimos veritatis dolore
          rerum quod?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat qui, reiciendis impedit, ad suscipit tenetur
          ea nulla quod ducimus animi ab nam necessitatibus provident laudantium vitae harum eligendi amet odit?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga voluptatum, corrupti, saepe aperiam eligendi
          facilis suscipit et illo deleniti illum ducimus. Nihil doloribus odit obcaecati dignissimos veritatis dolore
          rerum quod?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat qui, reiciendis impedit, ad suscipit tenetur
          ea nulla quod ducimus animi ab nam necessitatibus provident laudantium vitae harum eligendi amet odit?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga voluptatum, corrupti, saepe aperiam eligendi
          facilis suscipit et illo deleniti illum ducimus. Nihil doloribus odit obcaecati dignissimos veritatis dolore
          rerum quod?</p>
        <br>
      </div>
      </div>
      </div>